h1{ 
  text-align: center;
  }

ul{

  background-color:#F0C5DD;

  }
  

img{
  
  height:300px;
}
html{
  background-color :black
  }

p,h2,form
  {
    color:white
    }

h1{font-family: 'Courier New', Courier, monospace;
   
   font-size: 40px;}

   li{
  display: inline; }

column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
div {
  padding-top: 30px;
  padding-right: 10px;

  padding-left: 30px;
}

ul {
  padding-top: 50px;
  padding-right: 30px;

  padding-left: 30px;
}