h1{ text-align: center;}
 ul  {

  background-color:#F0C5DD;
  text-align: center;

  }
  
li{margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 150px;
  margin-left: 80px;
  display: inline; }

column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
img{
  style:width:200px;
  height:300px;
}
html{background-color :black}
p{color:white}

h1{font-family: 'Courier New', Courier, monospace
   
   font-size: 400px}